@import "./settings/_colors.scss", "./settings/fonts";
@import "./settings/HomeAboutUs";
@import "./settings/HomeContactUs";
@import "./settings/HomeFourSteps";
@import "./settings/HomeHeader";
@import "./settings/HomeThreeColumns";
@import "./settings/HomeWhoWeHelp";
@import "./settings/Home";
@import "./settings/NavHeader";

* {
  box-sizing: border-box;
  margin: 0;
  font-family: $font-base;
  color: $text-color;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-size: 20px;
}
